a {
  text-decoration: none;
  color: #9000ff;
}

a:hover {
  text-decoration: underline;
  tect-decoration: bold;
  color: #003cff;
}

a:visited:hover {
  color: #003cff;
}

a:visited {
  color: #9000ff;
}

p, h1, h2, h3, h4, h5, h6, b, u {
  color: #000;
}

body {
  background-color: #fff;
}
