@font-face {
  font-family: Blooket;
  src: url("https://cdn.glitch.global/f9d1316d-3f13-4a70-8f55-c83a306e3cc1/TitanOne-Regular.ttf?v=1677707997480")
    format("opentype");
}
@font-face {
  font-family: Blooket;
  font-weight: bold;
  src: url("https://cdn.glitch.global/f9d1316d-3f13-4a70-8f55-c83a306e3cc1/TitanOne-Regular.ttf?v=1677707997480")
    format("opentype");
}
